:root {
  --text-black: #161616;
  --gray: #d9d9d9;
  --gray-text: #a6a6a6;
  --orange: #ff7c1e;
  --orange-hover: #d75e06;
  --shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.12);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html {
  font-size: 20px;
}

body {
  width: 100%;
  font-family: "Montseratt", sans-serif;
  font-size: 1rem;
  color: var(--text-black);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
